*{
    margin: 0%;
    font-family: Work Sans;
}
/* header styles starts */
.header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    padding: 100px;
    background-size: contain;
}
.banner{
    text-align: right;
    right: 20px;
    top: 8px;
    
}
.headerh1{
    color:aliceblue;
    font-size: 55px;
    padding-top: 30px;
}

.headerP{
    margin-top: 30px;
    color: aliceblue;
}
.button-one{
    color: #005FAC;
    font-size: 20px;
    background-color: aliceblue;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
/* header style ends */

/* main styles starts */

.failure{
    padding: 150px;
    /* margin-top: 40px; */
}
/* failure list starts */
.container-one{
    display: flex;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 60px;
    justify-content:space-between;
}
.section-one{
    padding: 15px;
}
.failureh3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.failureP{
    font-size: 12px ;
    margin-bottom: 20px;
}
.unorder-list{
    font-size: 13px;
    list-style-type:circle;
}
.image{
    height: 550px;
    width:450px;
}

/* failure list ends */

/* My Plan styles */
.container-two{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.title-two{
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
.description{
    text-align: center;
    color: #707070;
}

/* My plans style ends */
